.heading-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.heading-primary.inverce {
    margin-bottom: 10px;
    color: #fff;
}

.heading-secondary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}