.heading-primary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 24px;
}

.heading-primary.inverce {
    margin-bottom: 10px;
    color: #fff;
}

.heading-secondary {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #282828;
}