.sectionHero {
    width: 100%;
    position: relative;
}

.heroBackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("/assets/images/myBg-6.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.heroForeground {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.heroImg {
    position: absolute;
    right: 50px;
    top: 160px;
    width: 500px;
    height: 400px;

    img {
        width: 100%;
    }
}

.heroInform {
    max-width: 653px;

    h1 {
        font-weight: 400;
        text-shadow: 0 1px 0 #fff;
        line-height: 50px;
        margin-bottom: 25px;
    }
}

.heroInform p {
    font-size: 18px;
    line-height: 28px;
    color: #000;
    margin: 0 0 30px;
    text-shadow: 0 1px 0 #fff, 0 0 0 #000;
}