.section-about {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fff;
}

.layout-about {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    &.layout-item {
        flex-direction: column;
    }
    
    &.layout-item:first-child {
        width: calc(100% / 4);
        box-shadow: 0 13px 34px rgba(0, 0, 0, 0.1);
    }
    
    &.layout-item:last-child {
        width: calc(100% / 4 * 3);
        padding-left: 20px;
        padding-right: 20px;
    }
    
    &.layout-item:last-child p,
    &.layout-item:last-child ul {
        font-size: 18px;
        line-height: 26px;
    }
    
    &.layout-item:last-child ul {
        margin-top: 0;
        padding-left: 20px;
    }    
}

.sidebar {
    width: 100%;
}